main {
    display: flex;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
}

.faq-banner {
    background-color: #132A3E;
    padding: 20px;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    margin-bottom: 1rem;
}

.faq-banner-text {
    color:#FFF5D9;
    font-size: 2.5rem;
    text-shadow:5px 5px 5px black;
}

.faq-main {
    background-color: #132A3E;
    padding: 20px 200px 20px 40px ;
    border-radius: 30px;
}

.faq-questions {
    color: #FFF5D9;
    font-weight: 400;
    font-size: 1.5rem;
    cursor: pointer;
}

.answer {
    max-height: 0;
    overflow: hidden;
}

.answer-visible{
    max-height: 9999px;
}

.faq-list {
    list-style-type:disc;
}