---
import Layout from "../layouts/Layout.astro";
import Accordion from "../components/FAQ/accordion";
---

<Layout title="SFHacks 2024 FAQs">
    <main>
        <Accordion client:load/>
    </main>
</Layout>