---
// Component Imports
import Layout from "../layouts/Layout.astro";
import CountDown from "../components/countdown/Countdown";
import FAQ from "../components/FAQ/accordion";
import Sponsors from "../components/sponsors/Sponsors";
import AboutUs from "../components/aboutUs/AboutUs";
---

<Layout title="SF Hacks 2024">
  <main>
    <section class="home">
      <div class="hero">
        <img class="hero--image" src="/sfhacks/logopupleBluewithtext.png" />
        <div class="hero--text">
          <p>Cohosted by Association of Computer Machinery (ACM) at SFSU</p>

          <h1 class="hero--text--title">SF HACKS 2024</h1>

          <CountDown client:load />
          <p>
            April 5th - 7th 2024
            <a
              class="border-b hover:border-sfPink"
              href="https://www.google.com/maps/place/Student+Life+Events+Center+%2F+Annex+I/@37.7264505,-122.4847354,17z/data=!3m1!4b1!4m6!3m5!1s0x808f7da51ff323d3:0x74d61cd2d66d4dbb!8m2!3d37.7264463!4d-122.4821605!16s%2Fg%2F1hdz113p8?entry=ttu"
              class="hero--text--subtitle"
              target="_blank"
            >
              @ SF State Annex 1
            </a>
          </p>

          <p class="text-white mt-5">
            Our organization's purpose is to plan and host California's most
            talented collegiate hackers, designers, and developers, to a 3 day
            hackathon. Join us next spring to kickoff SF Hacks 2024!
          </p>

          <div
            class="inline-block flex-row flex-wrap justify-center gap-5 sm:mb-10"
          >
            <a href="https://bit.ly/sfhacks2024-apply" target="_blank"
              ><button
                type="button"
                class="text-sfLightBlue mt-5 p-4 text-lg font-semibold rounded-full bg-sfPink"
                >Register Now</button
              >
            </a>

            <a href="https://discord.gg/P5PsDR6G7W" target="_blank"
              ><button
                type="button"
                class="bg-sfLightBlue mt-5 p-4 text-lg font-semibold rounded-full text-sfPink"
                >Join Discord</button
              >
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="faq">
      <FAQ client:load />
    </section>

    <section class="sponsors">
      <Sponsors />
    </section>
    <section class="about-us">
      <AboutUs />
    </section>
  </main>
</Layout>

<style>
  .hero {
    /* padding-bottom: 10vh; */
    background: #132a3e;
    padding: 15%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;

    background-image: url("/sfhacks/design element.png");
    background-size: cover;
    background-position-y: 70%;
  }

  .hero--image {
    height: 70vh;
  }

  .hero--text--title {
    color: #ebebeb;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 1000;
  }

  .hero--text {
    width: 600px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgba(245, 245, 245, 0.65);
    font-family: "Sen";
    font-size: 1rem;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-align: center;
  }

  /* Laptop */
  @media (max-width: 1024px) {
    .hero--image {
      display: none;
    }

    .mlh-trust-badge {
      display: inline-block;
    }
  }

  /*Tablet*/
  @media (max-width: 768px) {
    .hero--text {
      font-size: 1rem;
    }

    .hero--text--title {
      font-size: 2.5rem;
    }

    .mlh-trust-badge {
      display: inline-block;
      margin-left: -100%;
    }
  }

  @media (min-width: 540px) {
    .hero {
      align-items: center;
    }
  }

  /*Mobile*/
  @media (max-width: 425px) {
    .hero--text {
      font-size: 0.7rem;
    }

    .hero--text--title {
      font-size: 2rem;
    }

    .mlh-trust-badge {
      display: inline-block;
      margin-left: -100%;
    }
  }

  .faq {
    padding: 10px;
    background-color: #254d70;
  }
</style>
