---
// Component Imports
import Layout from "../layouts/Layout.astro";
import SponsorPage from "../components/sponsors/SponsorPage";
import AboutUs from "../components/aboutUs/AboutUs";
import CountDown from "../components/countdown/Countdown";
import Schedule from "../components/schedule/schedule";
import Accordion from "../components/FAQ/accordion";
---

<Layout title="SF Hacks 2024">
  <main>
    <section class="home">
      <div class="hero">
        <img class="hero--image" src="/sfhacks/logopupleBluewithtext.png" />
        <div class="hero--text">
          <p>SF Hacks and ACM at SFSU Presents</p>
          <h1 class="hero--text--title">SF HACKS 2024</h1>

          <CountDown client:load />

          <a href="https://www.google.com/maps/place/Student+Life+Events+Center+%2F+Annex+I/@37.7264505,-122.4847354,17z/data=!3m1!4b1!4m6!3m5!1s0x808f7da51ff323d3:0x74d61cd2d66d4dbb!8m2!3d37.7264463!4d-122.4821605!16s%2Fg%2F1hdz113p8?entry=ttu"
                  class="hero--text--subtitle "
                  target="_blank"
                  >
            April 5th - 7th 2024
            <span
            class="border-b hover:border-sfPink">
              @ SF State Annex 1
            </span>
            <p
            class="text-white mt-5"
            >
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis autem neque possimus quod architecto voluptates corrupti. Odio doloremque itaque error quod labore ducimus, vero quos, sunt aperiam at voluptates in!</p>
          </a>
          <div class="inline-block ">
            <button
            type="button"
            class="text-sfLightBlue mt-5 p-4 text-lg font-semibold rounded-full bg-sfPink mr-5"
            >Register Now</button
          >
          <button
            type="button"
            class="bg-sfLightBlue mt-5 p-4 text-lg font-semibold rounded-full text-sfPink"
            >Join Discord</button
          >
          </div>
          
        </div>
      </div>
    </section>

    <!-- <Schedule client:load/>
		<AboutUs/>
		<SponsorPage/>
		<Accordion client:load/> -->
  </main>
</Layout>

<style>
  body {
    overflow: hidden;
  }

  .hero {
    /* padding-bottom: 10vh; */
    background: #132a3e;
    padding: 15%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    justify-content: center;

    background-image: url("/sfhacks/design element.png");
    background-size: cover;
    background-position-y: 70%;
  }

  .hero--image {
    height: 480px;
  }

  @media (max-width: 1100px) {
    .hero--image {
      display: none;
    }
  }

  .hero--text {
    width: 600px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgba(245, 245, 245, 0.65);
    font-family: "Sen";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-align: center;
  }

  .hero--text--title {
    color: #ebebeb;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 1000;
  }

  @media (max-width: 540px) {
    .hero--text {
      font-size: 1rem;
    }

    .hero--text--title {
      font-size: 2rem;
    }
  }
</style>
