---
// Component Imports
import Layout from "../layouts/Layout.astro";
import SponsorPage from '../components/sponsors/SponsorPage';
import AboutUs from '../components/aboutUs/AboutUs';
import CountDown from "../components/countdown/Countdown";
import Schedule from "../components/schedule/schedule";
import Accordion from "../components/FAQ/accordion";
---

<Layout title="SF Hacks 2023">
	<main>
		<section class="home">
			<div class="hero">
				<img class="hero--image" src="/sfhacks/logo_white&blue.png" />
				<div class="hero--text">
					
					<p>SF Hacks at San Francisco State University Presents</p>
					<h1 class="hero--text--title">2024 HACKATHON</h1>

					<CountDown client:load/>

					<p class="hero--text--subtitle">April 5th - 7th 2024 @SF State Annex 1</p>
					<button type="button" class="bg-sfLightBlue mt-5 p-4 text-lg font-semibold rounded-full text-sfPink">Register Now</button>
				</div>
			</div>
		</section>

		<!-- <Schedule client:load/>
		<AboutUs/>
		<SponsorPage/>
		<Accordion client:load/> -->
	</main>
</Layout>

<style>

	body {
		overflow: hidden;
	}

	.hero {
		/* padding-bottom: 10vh; */
		background: #132A3E;
		padding: 15%;
		height: calc(100vh - 90px);
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10%;
		justify-content: center;	

		background-image: url("/sfhacks/design element.png");
		background-size: cover;
		background-position-y: 70%;
	}

	.hero--image {
		height: 480px;
	}

	@media (max-width: 1100px) {
		.hero--image {
			display: none;
		}
	}

	.hero--text {
		width: 600px;
		gap: 10px;

		display: flex;
		flex-direction: column;
		align-items: center;

		color: rgba(245, 245, 245, 0.65);
		font-family: 'Sen';
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 550;
		line-height: normal;
		text-align: center;
	}

	.hero--text--title {
		color: #EBEBEB;
		text-align: center;
		font-size: 4rem;
		font-style: normal;
		line-height: normal;
		text-transform: uppercase;
		font-weight: 1000;
	}

	@media (max-width: 540px) {
		.hero--text {
			font-size: 1rem;
		}

		.hero--text--title {
			font-size: 2rem;
		}
	}
</style>