---
import ParallaxComponent from '../components/parallax/Parallax';
// import { InlineScript } from '@astro/types';

---
<html>
  <head>
    <!-- ... -->
  </head>
  <body>
    <!-- ... -->

    <ParallaxComponent client:load/>

    <!-- Include the script tag here -->
    <!-- <InlineScript>
      {`
        console.log("This is a custom script included in Astro.");
      `}
    </InlineScript> -->

    <!-- ... -->
  </body>
</html>
