---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Application Form">
    <main>
       <h1
        class="font-bold text-3xl text-white relative flex justify-center h-full md:text-5xl lg:text-1xl z-0"
      >
        Sponsorship
      </h1>
    </main>
</Layout>
