---
import Layout from "../layouts/Layout.astro";
import ScheduleComponent from "../components/schedule/schedule";
import Footer from "../layouts/Footer.astro";
---

<Layout title="Schedule">
    <main>
        <ScheduleComponent client:load />
    </main>
</Layout>
