---
import Layout from "../layouts/Layout.astro";
import SponsorComponent from "../components/sponsors/SponsorPage";
import SponsorUsForum from "../components/sponsors/SponsorUsForum";
import Footer from "../layouts/Footer.astro";
---

<Layout title="Sponsors">
  <div class="bg-sfDarkBlue">
    <div class="relative w-full h-32 md:h-40 lg:h-60">
      <div
        class="absolute inset-0 bg-event bg-cover bg-center brightness-[85%]"
      >
      </div>
      <h1
        class="text-center font-bold text-3xl text-white relative flex items-center justify-center h-full md:text-6xl lg:text-8xl z-0"
      >
        Sponsorship
      </h1>
    </div>
    <div class="flex flex-col md:flex-row">
      <div class="pt-20 md:px-20 md:flex-1">
        <h1 class="text-center text-3xl text-white md:text-5xl px-4 md:px-20">
          Why Sponsor Us?
        </h1>
        <p class="p-6 md:text-2xl text-center text-slate-100">
          The sponsorship funds will support hackers attending our inclusive SF
          Hacks event. We're reaching out to a diverse audience, including
          non-computer science majors and beginners, thanks to our San Francisco
          location. Our event is accessible to startups, large companies, and
          everyone in between. Students have the freedom to create whatever they
          desire, and sponsors can participate by offering branded prizes, API
          demos, swag, and workshops.
        </p>
      </div>
      <div class="p-10 md:p-20 md:w-300 md:justify-center md:flex-1">
        <SponsorUsForum />
      </div>
    </div>
  </div>
</Layout>
