---
import Layout from "../layouts/Layout.astro";
import SponsorComponent from "../components/sponsors/SponsorPage";
---

<Layout title="Sponsors">
    <main>
        <SponsorComponent />
    </main>
</Layout>
