---
import Layout from "../layouts/Layout.astro";
import SponsorComponent from "../components/sponsors/SponsorPage";
import SponsorUsForum from "../components/sponsors/SponsorUsForum";
---

<Layout title="Sponsors">
    <main>
        <div class = " py-14 flex flex-col md:flex-row justify-center items-center bg-sfGreyBlue">
            <div class="md:w-1/2 pl-10 ">
            <h1 class = " text-8xl text-white font-bold px-6 py-6">
                A call for sponsors...
            </h1>
            <p class = " font-semibold text-white px-6 py-6"> 
                <span class = "text-sfDarkBlue font-semibold text-2xl">Hello!</span>
                <br>
                Emedieh sopec ne riba ago dibak sosoh ulere se. Se honesek ateraf ta caf faleyur uniesito hec runekup. Yal sop legenie lepid nal sepiezo! Totuhu doyir resih, reciw awob odomar san iyah; zerieci dit lan se nietohi mas: Afaco yil derab elebami hazif cuh rat asiefo si netep. Goce mesedeh conaco cewino rixe nurec ca inube. Temic je lo etemi ecigeg tipesa capudub ceveliz gorel teniel. Bo enef not eniem ket pemi. 

            </p>

            </div>
            
            
            <div class="md:w-1/2 p-4 pl-20 items-end">
                <SponsorUsForum/>
            </div>
            
        </div>
        <SponsorComponent />
    </main>
</Layout>

