---
import Layout from "../layouts/Layout.astro";
import SponsorComponent from "../components/sponsors/SponsorPage";
import SponsorUsForum from "../components/sponsors/SponsorUsForum";
---

<Layout title="Sponsors">
  <div class="bg-sfDarkBlue">
    <div class="relative w-full h-32 md:h-40 lg:h-60">
      <div class="absolute inset-0 bg-event bg-cover bg-center"></div>
      <h1
        class="text-center font-bold text-3xl text-white relative z-10 flex items-center justify-center h-full md:text-6xl lg:text-8xl"
      >
        Reasons to sponsor
      </h1>
    </div>
    <div class="pt-20 md:pt-40 md:px-20">
      <h1 class="text-center text-3xl text-white md:text-5xl px-4 md:px-20">
        So many reasons to sponsor our hackathon
      </h1>
      <p class="p-6 text-center text-slate-100">
        Oninase eneh coler veyug naxiebel rigoca manote mu nieror. Cet luhelu
        piweye taxud. Risona setosi ta dutilay acosaso emeyata yid; rime ca
        nires yedutin epelor irabed biye nisucud dozah wehade.
      </p>
    </div>
    <div class="md:flex p-20 md:justify-center">
      <SponsorUsForum />
    </div>
  </div>
</Layout>
