.faq-banner {
    max-width: 45%;
    margin: 2rem auto;
    background-color: #132330;
    padding: 20px 0px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}

.faq-banner-text {
    color:#FFF5D9;
    font-weight: 300;
    font-size: 2.5rem;
    /*text-shadow:5px 5px 5px black;*/
}

.faq-main {
    max-width: 60%;
    margin: 3rem auto;
    background-color: #132330;
    padding: 20px 0px 20px 40px ;
    border-radius: 30px;
}

.faq-tab {
    color: #FFF5D9;
    max-width: 12%;
}

#faq-tab1{
    background-color: #1A364E;
    border-radius: 30px;
    padding: 0px 0px 10px 10px;
}

#faq-tab2{
    background-color: #254D70;
    border-radius: 30px;
    padding: 0px 0px 10px 10px;
}


.faq-questions {
    color: #FFF5D9;
    font-weight: 400;
    font-size: 1.3rem;
    margin: 1rem;
}

.faq-ques {
    cursor: pointer;
}
.answer-visible{
    color: #addefb;
    font-size: 1rem;
    margin: 0.5rem;
    border-style: solid;
    margin-bottom: 1.5rem;
}

.faq-list {
    list-style-type:disc;
}

@media only screen and (max-width: 768px) {
    
    .faq-banner {
        max-width: 85%;
        margin: 1.5rem auto;
        padding: 20px 0px;
        border-radius: 20px;
        text-align: center;
        overflow: hidden;
    }

    .faq-banner-text {
        color:#FFF5D9;
        font-weight: 500;
        font-size: 2rem;
        /* text-shadow:5px 5px 5px black; */
    }

    .faq-main {
        max-width: 80%;
        margin: 1rem auto;
        padding: 10px;
        border-radius: 30px;
    }
    
    .faq-questions {
        color: #FFF5D9;
        font-weight: 400;
        font-size: 1.3rem;
        margin: 2rem;
    }

    .answer-visible {
        margin-bottom: 40px;
    }
} 

@media only screen and (max-width: 425px) {
    .faq-questions {
        color: #FFF5D9;
        font-weight: 400;
        font-size: 1rem;
        margin: 2rem;
    }
    .answer-visible {
        font-size: 1rem;
        margin-bottom: 40px;
    }
}