.foot {
    display: flex;
    flex-direction: row;
    height: 15dvh;
    align-items: center;
    justify-content: center;
    background: #254d70;
    font-weight: 900;
    font-size: 1.5rem;
    color: #132A3E;
    letter-spacing: 0.25rem;
}


@media (max-width: 768px){
    .foot{
        font-size: 1rem;
        height: 20dvh;
        align-items: center;
        justify-content: center;
    }
    .footer-label{
        margin: 3rem 0rem -1.5rem 0rem;
    }
}