---
const platform = "Instagram";
const username = "sf.hacks";
---

<footer>
	<p>
		Learn more about my projects on <a
			href={`https://www.${platform}.com/${username}`}
			>{platform}</a
		>!
	</p>
</footer>
