.foot {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    background: #254d70;
    
    font-weight: 900;
    font-size: 1.5rem;
    color: #132A3E;
    letter-spacing: 0.25rem;
}

.sponsor--image {
    width: 9vh;
}

.sponsor--image:hover {
    width: 10vh;
}