---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<footer>
	<p>
	MLH Code of Conduct <a href={`https://static.mlh.io/docs/mlh-code-of-conduct.pdf`}></a>
	</p>
	<Social platform="Facebook" username="SF Hacks" />
	<Social platform="Instagram" username="sf.hacks" />
	<Social platform="Discord" username="SF Hacks" />
	<Social platform="LinkedIn" username="SF Hacks @ SFSU" />
	<Social platform="Twitter" username="SF_Hacks" />
</footer>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>