.sponsors-container{
    display: flex;
    align-items: center;
}

.x--large--sponsor--image{
    width: 95vh;
}

.large--sponsor--image{
    width: 34vh;
    margin: 1rem;
}


.medium--sponsor--image{
    width: 24vh;
    margin: 1rem;
}

.small--sponsor--image {
    width: 20vh;
    margin: 1rem;
}

/*Sizes for half screens*/
@media only screen and (max-width: 960px) {
    .x--large--sponsor--image{
        width: 45vh;
    }
    
    .large--sponsor--image{
        width: 15.5vh;
    }
    
    
    .medium--sponsor--image{
        width: 13vh;
    }
    
    .small--sponsor--image {
        width: 11vh;
    }
}

/*Sizes for mobile and tablet devices*/
@media only screen and (max-width: 500px) {
    .x--large--sponsor--image{
        width: 35vh;
    }
    
    .large--sponsor--image{
        width: 8.5vh;
    }
    
    
    .medium--sponsor--image{
        width: 7.5vh;
    }
    
    .small--sponsor--image {
        width: 5.8vh;
    }
}