.sponsors-container{
    display: flex;
    align-items: center;
}

.x--large--sponsor--image{
    width: 65vh;
    margin: 1rem;
}

.large--sponsor--image{
    width: 20.5vh;
    margin: 1rem;
}


.medium--sponsor--image{
    width: 28vh;
    margin: 1rem;
}

.small--sponsor--image {
    width: 22vh;
    margin: 1rem;
}

@media only screen and (max-width: 1360px) {
    .sponsors-container{
        display: flex;
        align-items: center;
    }

    .x--large--sponsor--image{
        width: 45vh;
        margin: 1rem;
    }

    .large--sponsor--image{
        width: 16.5vh;
        margin: 1rem;
    }


    .medium--sponsor--image{
        width: 20vh;
        margin: 1rem;
    }

    .small--sponsor--image {
        width: 18vh;
        margin: 1rem;
    }
}

/*Sizes for half screens*/
@media only screen and (max-width: 960px) {
    .x--large--sponsor--image{
        width: 35vh;
    }
    
    .large--sponsor--image{
        width: 13vh;
    }
    
    
    .medium--sponsor--image{
        width: 13vh;
    }
    
    .small--sponsor--image {
        width: 11vh;
    }
}

/*Sizes for mobile and tablet devices*/
@media only screen and (max-width: 500px) {
    .x--large--sponsor--image{
        width: 20vh;
    }
    
    .large--sponsor--image{
        width: 7vh;
    }
    
    
    .medium--sponsor--image{
        width: 7.5vh;
    }
    
    .small--sponsor--image {
        width: 5.8vh;
    }
}